<!DOCTYPE html>
{% extends "layout/index.html" %}
{% block body_block %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Pendapatan</h1>
</div>

<!-- Content Row -->

<div class="row">

  <!-- Area Chart -->
  <div class="col-xl-12 col-lg-7">
      <!-- Card Body -->
      <div class="">
        <table id="tabel_barang" class="table table-bordered">
          <thead>
            <th>Nama Barang</th>
            <th>Nama Pembeli</th>
            <th>Jumlah</th>
            <th>Deskripsi</th>
            <th>Tanggal</th>
          </thead>
          <tbody>
            <tr>
              <td>Sirup</td>
              <td>Otong</td>
              <td>1</td>
              <td>-</td>
              <td>27-8-2019</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#tabel_barang').DataTable();
	});
</script>
{% endblock %}
