{% load widget_tweaks %}

<form method="post">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
        {{ hidden  }}
    {% endfor %}

    {% for field in form.visible_fields %}
    <div class="form-group">
        <div class="form-group">
        <label for="{{ field.id_for_label }}"><b>{{ field.label }}</b></label>
        {% comment %} {{ field|add_class:'form-control' }} {% endcomment %}
        {% render_field field class="form-control"  %}
        {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
    <div class="form-group">
        <input type="Submit" value="Simpan" class="btn btn-success btn-block">
        {% comment %} <span class="glyphicon glyphicon-ok"></span> Simpan {% endcomment %}
        </button>
    </div>
</form>