<!DOCTYPE html>
{% extends "layout/index.html" %}
{% block body_block %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Pengeluaran</h1>
  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

<!-- Content Row -->

<div class="row">

  <!-- Area Chart -->
  <div class="col-xl-12 col-lg-7">
      <!-- Card Body -->
      <div class="">
        <table id="tabel_pengeluaran" class="table table-bordered">
          <thead>
            <th>Deskripsi</th>
            <th>Biaya</th>
            <th>Tanggal</th>
          </thead>
          <tbody>
            <tr>
              <td>Beli mobil truk</td>
              <td>Rp 150000</td>
              <td>27-8-2019</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#tabel_pengeluaran').DataTable();
	});
</script>
{% endblock %}
